<html lang="en">
    <head>
        <title>lightbin - simple service where you can post your snippets</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/css/halfmoon-variables.min.css" rel="stylesheet"/>
    </head>
    <body>
        <div class="modal ie-scroll-fix" id="modal-1" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content w-600">
                    <a href="#" class="close" role="button" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </a>
                    <h4>Contact</h4>
                    <p>You can contact with me via mail: <a href="mailto:contact@shitzuu.dev">contact@shitzuu.dev</a></p>
                </div>
            </div>
        </div>
        <div class="modal ie-scroll-fix" id="modal-2" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content w-600">
                    <a href="#" class="close" role="button" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </a>
                    <h4>About</h4>
                    <p>You can post snippets there, but you are taking risk on your own, because there is no security features yet. Snippets uploaded there are available for everyone who is a known the identifier of the snippet.</p>
                    <h4>Disclaimer</h4>
                    <p>Snippets uploaded to the service are temporary stored in service's database, it can be deleted in every moment.</p>
                    <h4>Author</h4>
                    <p>This website has been made by <a href="https://github.com/shitzuu" target="_blank">shitzuu</a> as a fun project to expand my knowledge about web development.</p>
                </div>
            </div>
        </div>
        <div class="modal ie-scroll-fix" id="modal-3" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content w-600">
                    <a href="#" class="close" role="button" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </a>
                    <p>Success! Your snippet has been uploaded, you can view it right now or copy link below.</p>
                    <div class="container d-inline-block align-items-center text-center">
                        <button id="view-button" class="btn btn-primary">
                            <span><i class="fas fa-eye"></i></span>
                            <span>View snippet</span>
                        </button>
                        <button id="copy-button" class="btn btn-primary">
                            <span><i class="fas fa-link"></i></span>
                            <span>Copy link</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-wrapper with-navbar h-full w-full">
            <div class="sticky-alerts"></div>
            <nav class="navbar">
                <a href="https://github.com/shitzuu/lightbin" target="_blank" class="navbar-brand">
                    <p>lightbin</p>
                </a>
                <form class="form-inline d-none d-md-flex mr-auto">
                    <button class="btn btn-primary btn-sm btn-rounded text-left" onclick="window.location.href='#modal-2'" type="button">
                        <span><i class="fas fa-book"></i></span>
                        <span>About</span>
                    </button>
                    <button class="btn btn-primary btn-sm btn-rounded text-left" onclick="redirect('https://bin.shitzuu.dev/documentation')" type="button">
                        <span><i class="fas fa-pencil-alt"></i></span>
                        <span>Documentation</span>
                    </button>
                    <button class="btn btn-primary btn-sm btn-rounded text-left" onclick="window.location.href='#modal-1'" type="button">
                        <span><i class="fas fa-envelope"></i></span>
                        <span>Contact</span>
                    </button>
                </form>
                <form class="form-inline d-none d-md-flex ml-auto">
                    <button id="theme-toggler" class="btn btn-sm btn-rounded text-right" type="button">
                        <span><i class="fas fa-sun"></i></span>
                        <span>Change theme</span>
                    </button>
                    <button id="submit" class="btn btn-primary btn-sm btn-rounded text-right" type="button" onclick="uploadSnippet()">
                        <span><i class="fas fa-save"></i></span>
                        <span>Save</span>
                    </button>
                </form>
                <div class="navbar-content d-md-none ml-auto"> <!-- d-md-none = display: none on medium screens and up (width > 768px), ml-auto = margin-left: auto -->
                    <div class="dropdown with-arrow">
                        <button class="btn" data-toggle="dropdown" type="button" id="navbar-dropdown-toggle-btn-1">
                            <i class="fas fa-bars"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right w-200" aria-labelledby="navbar-dropdown-toggle-btn-1"> <!-- w-200 = width: 20rem (200px) -->
                            <a class="dropdown-item" href="#modal-2">About</a>
                            <a class="dropdown-item" onclick="redirect('https://bin.shitzuu.dev/documentation')">Documentation</a>
                            <a class="dropdown-item" href="#modal-1">Contact</a>
                            <a id="theme-toggler" class="dropdown-item" href="#">Change theme</a>
                            <a id="submit" class="dropdown-item" href="#" onclick="uploadSnippet()">Save</a>
                            <div class="dropdown-divider"></div>
                        </div>
                    </div>
                </div>
            </nav>
            <div class="content-wrapper h-full w-full align-content-center align-items-center text-center">
                <textarea autofocus id="content" spellcheck="false" class="form-control p-10" style="height: 95% !important; width: 100% !important; border: none; outline: none" placeholder="Here you should put content of your snippet..."></textarea>
            </div>
        </div>
    </body>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/js/halfmoon.min.js"></script>
    <script type="text/javascript" src="/resources/scripts/theme.js"></script>
    <script type="text/javascript" src="/resources/scripts/upload.js"></script>
    <script type="text/javascript" src="/resources/scripts/redirect.js"></script>
    <script src="https://kit.fontawesome.com/746b60cbef.js" crossorigin="anonymous"></script>
</html>