<html lang="en">
    <head>
        <title>{{snippet.identifier}}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.3.1/build/styles/default.min.css">
    </head>
    <body>
        <pre><code class="language-{{language}}">{{snippet.content}}</code></pre>
    </body>
    <script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.3.1/build/highlight.min.js"></script>
    <script>
        hljs.highlightAll();
    </script>
</html>