<html lang="en">
    <head>
        <title>{{snippet.identifier}}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.3.1/build/styles/github-dark-dimmed.min.css">
    </head>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
        * {
            margin: 0;
            font-family: 'Roboto Mono', monospace;
            font-weight: normal;
            font-size: 12px;
            overflow-x: hidden;
        }

        pre {
            display: block !important;
            white-space: initial;
            word-break: break-word !important;
        }

        code {
            height: 100%;
            width: 100%;
        }
    </style>
    <body>
        <pre><code class="language-{{language}}">{{snippet.content}}</code></pre>
    </body>
    <script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.3.1/build/highlight.min.js"></script>
    <script>
        hljs.highlightAll();
    </script>
</html>